USE [master]
GO
/****** Object:  Database [myList]    Script Date: 7/9/2022 22:52:16 ******/
CREATE DATABASE [myList] ON  PRIMARY 
( NAME = N'myList', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\myList.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'myList_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\myList_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myList]
GO
/****** Object:  User [mylist]    Script Date: 7/9/2022 22:52:16 ******/
CREATE USER [mylist] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ConfigMyList]    Script Date: 7/9/2022 22:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigMyList](
	[ConfigId] [int] IDENTITY(1,1) NOT NULL,
	[DataPerPage] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[sortmode] [nvarchar](100) NULL,
 CONSTRAINT [PK_ConfigMyList] PRIMARY KEY CLUSTERED 
(
	[ConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenreGroup]    Script Date: 7/9/2022 22:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreGroup](
	[gengroupId] [int] IDENTITY(1,1) NOT NULL,
	[genId] [int] NOT NULL,
	[listId] [int] NOT NULL,
	[recStatus] [nvarchar](1) NULL,
	[createDate] [datetime] NULL,
	[createBy] [nvarchar](255) NULL,
	[updateDate] [datetime] NULL,
	[updateBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[gengroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenreMast]    Script Date: 7/9/2022 22:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreMast](
	[genId] [int] IDENTITY(1,1) NOT NULL,
	[genCode] [nvarchar](100) NULL,
	[genDesc] [nvarchar](255) NULL,
	[recStatus] [nvarchar](1) NULL,
	[createDate] [datetime] NULL,
	[createBy] [nvarchar](255) NULL,
	[updateDate] [datetime] NULL,
	[updateBy] [nvarchar](255) NULL,
	[sortSeq] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[genId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListTypeMast]    Script Date: 7/9/2022 22:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListTypeMast](
	[listTypeId] [int] IDENTITY(1,1) NOT NULL,
	[listTypeCode] [nvarchar](3) NULL,
	[listTypeDesc] [nvarchar](500) NULL,
	[recStatus] [nvarchar](1) NULL,
	[createDate] [datetime] NULL,
	[createBy] [nvarchar](50) NULL,
	[updateDate] [datetime] NULL,
	[updateBy] [nvarchar](50) NULL,
	[sortSeq] [int] NULL,
 CONSTRAINT [PK_ListTypeMast] PRIMARY KEY CLUSTERED 
(
	[listTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MapSetingParam]    Script Date: 7/9/2022 22:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapSetingParam](
	[mapId] [int] IDENTITY(1,1) NOT NULL,
	[mapCode] [nvarchar](5) NULL,
	[mapDesc] [nvarchar](255) NULL,
	[mapTbName] [nvarchar](255) NULL,
	[recStatus] [nvarchar](1) NULL,
	[createDate] [datetime] NULL,
	[createBy] [nvarchar](255) NULL,
	[updateDate] [datetime] NULL,
	[updateBy] [nvarchar](255) NULL,
	[sortSeq] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyListMast]    Script Date: 7/9/2022 22:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyListMast](
	[listId] [int] IDENTITY(1,1) NOT NULL,
	[listTypeId] [int] NOT NULL,
	[listCode] [int] NULL,
	[listName] [nvarchar](max) NULL,
	[listLink] [nvarchar](max) NULL,
	[listEP] [nvarchar](max) NULL,
	[listComment] [nvarchar](max) NULL,
	[stsId] [int] NOT NULL,
	[recStatus] [nvarchar](1) NULL,
	[createDate] [datetime] NULL,
	[createBy] [nvarchar](50) NULL,
	[updateDate] [datetime] NULL,
	[updateBy] [nvarchar](50) NULL,
	[seasonId] [int] NULL,
 CONSTRAINT [PK_MyListMast] PRIMARY KEY CLUSTERED 
(
	[listId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeasonMast]    Script Date: 7/9/2022 22:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeasonMast](
	[seaId] [int] IDENTITY(1,1) NOT NULL,
	[seaCode] [nvarchar](5) NULL,
	[seaDesc] [nvarchar](255) NULL,
	[recStatus] [nvarchar](1) NULL,
	[createDate] [datetime] NULL,
	[createBy] [nvarchar](255) NULL,
	[updateDate] [datetime] NULL,
	[updateBy] [nvarchar](255) NULL,
	[sortSeq] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[seaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StsMast]    Script Date: 7/9/2022 22:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StsMast](
	[stsId] [int] NOT NULL,
	[stsCode] [nvarchar](50) NULL,
	[stsDesc] [nvarchar](50) NULL,
	[recStatus] [nvarchar](1) NULL,
	[createDate] [datetime] NULL,
	[createBy] [nvarchar](50) NULL,
	[updateDate] [datetime] NULL,
	[updateBy] [nvarchar](50) NULL,
	[sortSeq] [int] NULL,
 CONSTRAINT [PK_recStsMast] PRIMARY KEY CLUSTERED 
(
	[stsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 7/9/2022 22:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NULL,
	[userPass] [varbinary](max) NULL,
	[recStatus] [nvarchar](1) NULL,
	[createDate] [datetime] NULL,
	[createBy] [nvarchar](50) NULL,
	[updateDate] [datetime] NULL,
	[updateBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ConfigMyList] ON 

INSERT [dbo].[ConfigMyList] ([ConfigId], [DataPerPage], [UpdateDate], [sortmode]) VALUES (1, NULL, CAST(N'2022-09-07T22:44:38.593' AS DateTime), N'ID,DESC')
SET IDENTITY_INSERT [dbo].[ConfigMyList] OFF
GO
SET IDENTITY_INSERT [dbo].[GenreGroup] ON 

INSERT [dbo].[GenreGroup] ([gengroupId], [genId], [listId], [recStatus], [createDate], [createBy], [updateDate], [updateBy]) VALUES (1, 1, 252, N'A', CAST(N'2022-08-07T03:51:43.703' AS DateTime), N'C# Win App', NULL, NULL)
INSERT [dbo].[GenreGroup] ([gengroupId], [genId], [listId], [recStatus], [createDate], [createBy], [updateDate], [updateBy]) VALUES (2, 2, 252, N'A', CAST(N'2022-08-07T04:04:34.337' AS DateTime), N'C# Win App', NULL, NULL)
INSERT [dbo].[GenreGroup] ([gengroupId], [genId], [listId], [recStatus], [createDate], [createBy], [updateDate], [updateBy]) VALUES (3, 2, 251, N'A', CAST(N'2022-08-07T15:22:46.533' AS DateTime), N'C# Win App', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[GenreGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[GenreMast] ON 

INSERT [dbo].[GenreMast] ([genId], [genCode], [genDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (1, N'Isekai', N'ต่างโลก', N'A', CAST(N'2022-08-07T01:56:43.853' AS DateTime), N'C# Win App', CAST(N'2022-08-07T18:21:22.860' AS DateTime), N'C# Win App', 0)
INSERT [dbo].[GenreMast] ([genId], [genCode], [genDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (2, N'Comedy', N'ตลก', N'A', CAST(N'2022-08-07T04:03:50.720' AS DateTime), N'C# Win App', CAST(N'2022-08-07T18:21:31.673' AS DateTime), N'C# Win App', 0)
INSERT [dbo].[GenreMast] ([genId], [genCode], [genDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (3, N'Drama', N'ดราม่า', N'A', CAST(N'2022-08-07T15:20:56.777' AS DateTime), N'C# Win App', CAST(N'2022-08-07T18:21:47.790' AS DateTime), N'C# Win App', 0)
SET IDENTITY_INSERT [dbo].[GenreMast] OFF
GO
SET IDENTITY_INSERT [dbo].[ListTypeMast] ON 

INSERT [dbo].[ListTypeMast] ([listTypeId], [listTypeCode], [listTypeDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (1, N'01', N'Manga', N'A', CAST(N'2022-05-19T22:58:10.710' AS DateTime), N'admin', NULL, NULL, 3)
INSERT [dbo].[ListTypeMast] ([listTypeId], [listTypeCode], [listTypeDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (2, N'02', N'Anime', N'A', CAST(N'2022-05-19T22:58:10.710' AS DateTime), N'admin', NULL, NULL, 1)
INSERT [dbo].[ListTypeMast] ([listTypeId], [listTypeCode], [listTypeDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (3, N'03', N'Serie', N'A', CAST(N'2022-05-19T22:58:10.710' AS DateTime), N'admin', NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[ListTypeMast] OFF
GO
SET IDENTITY_INSERT [dbo].[MapSetingParam] ON 

INSERT [dbo].[MapSetingParam] ([mapId], [mapCode], [mapDesc], [mapTbName], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (1, N'STS', N'สถานะรายการ', N'StsMast', N'A', CAST(N'2022-08-01T16:05:01.543' AS DateTime), N'admin', NULL, NULL, 1)
INSERT [dbo].[MapSetingParam] ([mapId], [mapCode], [mapDesc], [mapTbName], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (2, N'LTYP', N'ประเภทเนิ้อหา', N'ListTypeMast', N'A', CAST(N'2022-08-01T16:06:17.367' AS DateTime), N'admin', NULL, NULL, 2)
INSERT [dbo].[MapSetingParam] ([mapId], [mapCode], [mapDesc], [mapTbName], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (3, N'GEN', N'หมวดหมู่เนิ้อหา', N'GenreMast', N'A', CAST(N'2022-08-01T16:07:06.263' AS DateTime), N'admin', NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[MapSetingParam] OFF
GO
SET IDENTITY_INSERT [dbo].[MyListMast] ON 

INSERT [dbo].[MyListMast] ([listId], [listTypeId], [listCode], [listName], [listLink], [listEP], [listComment], [stsId], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [seasonId]) VALUES (1, 1, 1, N'Isekai Kenkokuki ตำนานจักรพรรดิศักดิ์สิทธิ์', N'https://web.facebook.com/groups/294435138893310/media/albums', N'53.2', N'', 1, N'A', CAST(N'2022-05-19T23:14:20.177' AS DateTime), N'admin', CAST(N'2022-08-11T18:31:46.557' AS DateTime), N'C# Win App', 0)
INSERT [dbo].[MyListMast] ([listId], [listTypeId], [listCode], [listName], [listLink], [listEP], [listComment], [stsId], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [seasonId]) VALUES (2, 1, 2, N'Isekai Tensei Soudouki', N'https://mynovel.co/PreviewNovel?Pid=62b19c658d103b0ec786535b&fbclid=IwAR1XuA6U8zq8WJY0_SAxhn05g43kAbVh5cKyAIcdJC1zrgDysdwxALid-mM', N'67', N'', 1, N'A', CAST(N'2022-05-19T23:14:20.177' AS DateTime), N'admin', CAST(N'2022-08-11T18:32:54.313' AS DateTime), N'C# Win App', 0)
INSERT [dbo].[MyListMast] ([listId], [listTypeId], [listCode], [listName], [listLink], [listEP], [listComment], [stsId], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [seasonId]) VALUES (3, 1, 3, N'The Galactic Navy Officer Becomes an Adventurer อลันตะลุยแดนเวทมนตร์!!', N'https://www.nekopost.net/manga/8441', N'31', N'', 1, N'A', CAST(N'2022-05-19T23:14:20.177' AS DateTime), N'admin', CAST(N'2022-08-11T17:44:09.907' AS DateTime), N'C# Win App', 0)
GO
SET IDENTITY_INSERT [dbo].[MyListMast] OFF
GO
SET IDENTITY_INSERT [dbo].[SeasonMast] ON 

INSERT [dbo].[SeasonMast] ([seaId], [seaCode], [seaDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (1, N'20223', N'Summer 2022', N'A', CAST(N'2022-08-07T02:18:34.420' AS DateTime), N'C# Win App', CAST(N'2022-08-08T22:55:33.187' AS DateTime), N'C# Win App', 7)
INSERT [dbo].[SeasonMast] ([seaId], [seaCode], [seaDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (2, N'20022', N'Spring 2002', N'A', CAST(N'2022-08-07T15:19:56.903' AS DateTime), N'C# Win App', CAST(N'2022-08-08T22:37:04.143' AS DateTime), N'C# Win App', 2)
INSERT [dbo].[SeasonMast] ([seaId], [seaCode], [seaDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (3, N'20034', N'Fall 2003', N'A', CAST(N'2022-08-07T16:03:32.087' AS DateTime), N'C# Win App', CAST(N'2022-08-08T22:55:03.020' AS DateTime), N'C# Win App', 3)
SET IDENTITY_INSERT [dbo].[SeasonMast] OFF
GO
INSERT [dbo].[StsMast] ([stsId], [stsCode], [stsDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (1, N'O', N'กำลังอ่าน/ดู/ยังไม่จบ', N'A', CAST(N'2022-05-19T22:53:44.840' AS DateTime), N'admin', CAST(N'2022-08-08T23:02:29.953' AS DateTime), N'C# Win App', 1)
INSERT [dbo].[StsMast] ([stsId], [stsCode], [stsDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (2, N'LC', N'ติดลิขสิทธ์', N'A', CAST(N'2022-05-19T22:53:44.840' AS DateTime), N'admin', CAST(N'2022-08-08T23:02:49.670' AS DateTime), N'C# Win App', 5)
INSERT [dbo].[StsMast] ([stsId], [stsCode], [stsDesc], [recStatus], [createDate], [createBy], [updateDate], [updateBy], [sortSeq]) VALUES (3, N'E', N'จบแล้ว', N'A', CAST(N'2022-05-19T22:53:44.840' AS DateTime), N'admin', CAST(N'2022-08-08T23:02:40.157' AS DateTime), N'C# Win App', 2)
GO
SET IDENTITY_INSERT [dbo].[UserProfile] ON 

INSERT [dbo].[UserProfile] ([userId], [userName], [userPass], [recStatus], [createDate], [createBy], [updateDate], [updateBy]) VALUES (1, N'oliongiking', 0x01000000F47F33954B620FD147D5AFE8BF51CFBDA911337D39C6EBE814F9A6D086406C10, N'A', CAST(N'2022-05-19T22:50:11.213' AS DateTime), N'admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
GO
/****** Object:  Index [idx_searchId]    Script Date: 7/9/2022 22:52:17 ******/
CREATE NONCLUSTERED INDEX [idx_searchId] ON [dbo].[MyListMast]
(
	[listTypeId] ASC,
	[listCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
